* * {
  margin: 0; padding: 0;
  color:  white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5vw;
  font-style: italic;
 
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-style: normal;
    font-family: minion-pro;
    
}

#header{
  height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 5vw;
  font-style: normal;
  color:orange
  
}
#subtitle{
  margin-left: 7%;
  padding: 100 px;
  color:  white;
  font-family: minion-pro;
  font-size: 3vw;
  font-style: italic;
}
#byline{
  margin-left: 30%;
  margin-bottom: 15px;
  margin-top: 0.5 px;
  color:  white;
  font-family: minion-pro;
  font-size: 2.5vw;
  font-style: italic;
}


/* sets different rules for narrower screens (usually meaning mobile) If
you want to quickly test how this works on your computer, just make your 
browser window really skinny */
@media screen and (max-width: 800px) {

    .logo{
        font-size: 20px;
    }
    
  }
  html, body {
    margin:0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    
